.categories-list {
    width: 400px;
    margin-left: 50px;
    padding: 40px;
    border-radius: 50px;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
        -20px -20px 60px #ffffff;
}