.loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translate(-10%, -20%);
    transition: opacity 0.5s;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}


.AuthTable {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}



.AuthTable-password-inner {
    position: relative;
}

.AuthTable-password-show {
    position: absolute;
    right: 5%;
    top: 25%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &>svg {
        vertical-align: middle;
    }
}


.AuthTable-submit-inner {
    // padding: 10px 12px;
    text-align: center;

    &>button {
        width: 100%;
        padding: 10px 22px;
        border: 3px solid black;
        border-radius: 4px;
        font-size: 1.1rem;
        font-weight: 500;
        color: #ededed;
        background-color: #232323;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: lighten(#232323, 10%);
            transition: background-color 0.3s;
        }

        &:active {
            background-color: lighten(#232323, 20%);
            transition: background-color 0.3s;
        }
    }
}